.container {

    margin: 107px;
    
    display: flex;

    text-align: center;
    justify-content: center;
}

.game {
    margin-top: 20px;
}
#truthButton{
    background-color: #e91e63ad;
    font-size: 20px;
}
#dareButton{
    background-color:#2196f3c9;
    font-size: 20px;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1px;
    border: none;

    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
h1.truth {
    background:#fbc4ab;
    line-height: 6;
    height: 211px;
    text-align: center;
    margin-top: 2px;
}
div#question {
    font-size: 22px;
    font-weight: 900;
}
#truthButton:hover{
    background-color: red;
}
#dareButton:hover{
    background-color: green;
}
.main {
    display: flex;
    flex-direction: column;
}
h1.dare {
    background: #b8b8ff;
    line-height: 6;
    height: 222px;
    text-align: center;
    margin-top: -26px;
}
.btn {
    margin-top: -298px;
    text-align: center;
    text-decoration: none;
}
.btn1 {
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
}
.btn button a{
    text-decoration: none;
}
.btn1 button a{
    text-decoration: none;
}
h2.game{
    text-align: center;
}
.btn button {
    background-color: #ffc8dd;
    border-radius: 74px;
    height: 101px;
    font-weight: 700;
    width: 103px;
    font-size: 18PX;
    text-decoration: none;
    color: #9C27B0;
    border: 5px solid white;
    text-align: center;
}
.btn1 button {
    background-color: #ffc8dd;
    border-radius: 20px;
    height: 62px;
    font-weight: 700;
    width: 182px;
  font-size: 20PX;
    color:#9C27B0;
}
h2.game {
    text-align: center;
    color: #9C27B0;
    font-size: 41px;
}
.bg {
    max-width: 453px;
    margin: 15px auto;
    border: 2px solid #cddc3957;
    border-radius: 10px;
    background-color: #bde0fe;
    height: 65vh;
    margin-top: 50px;
}